
.contactUsContainer{
  position: relative;
}

.contactUsTitle {
    font-size: 5.4vh;
    font-weight: 400;
    color: #181818;
}
.contactUsCaption {
    font-size: 2vh;
    font-weight: 500;
    color: #181818;
}

input:focus {
    outline: none;
}
.holder {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .input-holder {
    position: relative;
  }
  
  .input {
    height: 50px;
    font-size: 16px;
    padding: 13px 17px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    width: 100%;
    outline: none;
    color: #757272;
    background-color: transparent;
  }
  
  .input:not(:placeholder-shown).input:not(:focus) + .placeholder {
    font-size: 14px;
    transform: scale(0.85) translateY(-23px) translateX(-3px);
    background-color: #fff;
    z-index: 1
  }
  .input:placeholder-shown+.placeholder {
    font-size: 14px;
    transform: scale(0.85) translateY(-23px) translateX(-3px);
    background-color: #fff;
    z-index: 1;
  }
  .input::-webkit-input-placeholder + .placeholder {
    font-size: 14px;
    transform: scale(0.85) translateY(-24px) translateX(-5px);
    z-index: 1;
    background-color: #fff;
  }
  
 /*  .input:focus {
    border-color: orange;
  } */
  
  .input:focus + .placeholder {
    transform: scale(0.85) translateY(-23px) translateX(-3px);
 /*    color: orange; */
    z-index: 1;
    background-color: #fff;
  }
  
  .placeholder {
    position: absolute;
    top: 10px;
    left: 8px;
    padding: 0 4px;
    background-color: white;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #181818;
    font-weight: 400;
    z-index: -1;
  }

  /* Text Area */
  .contactUsTextArea {
    border: 1px solid #CBCBCB;
    border-radius: 3px;
    padding: 10px;
  }
  .contactUsTextArea:focus {
    outline: none;
  }

  /* custom checkbox css */
  
.checkbox-group {
    display: block;
    margin-bottom: 15px;
  }
  
  .checkbox-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .checkbox-group label {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
  }
  
  .checkbox-group label:before {
    content:'';
    -webkit-appearance: none;
    background: #FEFEFE;
    border: 1.5px solid #F4F4F4;
    border-radius: 3.75px;
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 15px;
  }
  
  .checkbox-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 1.5px;
    left: 9px;
    width: 5px;
    height: 12px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
  }
  
  .checkbox-group input:checked + label:before {
    background-color: #E95F5F !important;
  }

  .contactUsSubmitBtn {
    width: 25%;
    height: 50px;
    background: #323232;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
    font-size: 1.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* svgs */
  .contactUsTopLeftSvgContainer img,.contactUstopRightSvgContainer img,.contactUsbottomLeftSvgContainer img, .contactUsbottomRightSvgContainer img, .contactUscenterLeftSvgContainer img{ 
    height: 12vh !important;
  }
  .contactUsTopLeftSvgContainer {
    position: absolute;
    left: 0;
    top: 10%;
    transform: translate(-10%,0);
  }
  .contactUstopRightSvgContainer {
    position: absolute;
    right: 0;
    top: 10%;
    transform: translate(-10%,0);
  }
  .contactUsbottomLeftSvgContainer{
    position: absolute;
    left: 0;
    bottom: -12px;
    transform: translate(0,0);
  }
  .contactUsbottomRightSvgContainer {
    position: absolute;
    bottom: -5px;
    right: 0;
    transform: translate(0,0);
  } 
  .contactUscenterLeftSvgContainer {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%,-50%);
  }
  .termsAndConditionLink{
    color: #396DCF;
    text-decoration: underline;
  }

  @media (max-width:1440px) and (max-height:900px){
    .contactUsContainer {
        height: 120vh;
    }
  }

  @media (min-width:1040px) and (max-width:1399px){
    .contactUsTitle {
      font-size:4.5vh;
    }
    .contactUsCaption {
      font-size: 2vh;
    }
  }
  @media (min-width:600px) and (max-width:1039px){
    .contactUsTitle {
      font-size:3.5vh;
    }
    .contactUsCaption {
      font-size: 1.6vh;
    }
    .contactUsSubContainer {
      width: 905%;
      z-index: 99;
    }
    .contactFormContainer  {
      /* background-color: #fff; */
      padding: 40px;
    }
    .contactUsSubmitBtn {
      font-size: 1.4vh;
    }
    .contactUscenterLeftSvgContainer {
      position: absolute;
      top: 60%;
      left: 0;
      transform: translate(0%,-50%);
    }
    .contactUsTermsAndCondition {
      margin-top: 5vh;
    }
  }
  @media (max-width:599px){
    .contactUsContainer {
      height: auto;
      margin: 20px 0;
    }
    .contactUsTitle {
      font-weight: 400;
      font-size: 32px;
      line-height: 40px;
      text-align: center;
      letter-spacing: -1px;
      color: #181818;
      margin-top: 2vh;
    }
    .contactUsCaption {
      font-size: 16px
    }
    .input:focus + .placeholder {
      font-size: 14px;
      transform: scale(0.85) translateY(-24px) translateX(-5px);
      z-index: 1;
      background-color: #fff;
    }
   
    .placeholder {
      font-size: 16px;
    }
    .checkbox-group label {
      font-size: 12px;
    }
    .contactUsSubContainer {
      width: 90%;
      z-index: 99;
    }
    .contactUsSubmitBtn {
      width: 50%;
      margin: 0 auto;
    }
    .contactFormContainer  {
      /* background-color: #fff; */
      /* padding: 20px; */
      margin: 0px 0px 40px 0;
    }
    .contactUsSubmitBtn {
      font-size: 16px;
    }
    /* design Icons */
    .contactUsTopLeftSvgContainer {
      top:0;
    }
    .input {
      height: 48px;
    }
    
  }

  @media (max-width:340px) {
    .contactUsSubmitBtn {
      width: 80%;
    }
  }

  .errorMessage {
    font-size: 12px;
    color: red;
    font-weight: 600;
  }