.formContainer {
  margin: auto;
  width: 80%;
  max-width: 400px;
}

.formInputContainer {
  margin-bottom: 25px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  height: 40px;
  z-index: 0;
}

.formLabel {
  background: #ffffff;
  position: absolute;
  top: -20%;
  left: 10px;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #181818;
}

.formInput {
  flex: 1;
  padding-left: 10px;
  background: #ffffff;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.297492px;
  color: #757272;
  height: 35px;
}

.formButton {
  padding: 10px 18px;
  background: #181818;
  border-radius: 3px;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: #f0f0f0;
}

.takeAwayBody {
  width: 90%;
  margin: auto;
  margin-top: 10vh;
}

.takeAwayTextContainer {
  width: 100%;
  z-index: 1;
}

.takeAwayHeading {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #000000;
}

.takeAwayPara {
  color: #000000;
  font-size: 14px;
  line-height: 22px;
}

.takeAwayButton {
  padding: 2vh 2.5vh;
  font-size: 14px;
  color: #294613;
  border: 1px solid #294613;
  border-radius: 5px;
}

.takeAwayListText {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #454545;
}

.takeAwayImageContainer {
  width: 90%;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
  .takeAwayPara {
    font-size: 12px;
    line-height: 22px;
  }

  .takeAwayHeading {
    font-size: 18px;
    line-height: 32px;
  }

  .takeAwayButton {
    font-size: 12px;
  }

  .takeAwayListText {
    font-size: 10px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Styles */
  .takeAwayPara {
    font-size: 14px;
    line-height: 22px;
  }

  .takeAwayHeading {
    font-size: 20px;
    line-height: 32px;
  }

  .takeAwayButton {
    font-size: 13px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles */

  .takeAwayTextContainer {
    width: 60%;
  }

  .takeAwayImageContainer {
    width: 40%;
    margin-left: -10%;
  }

  .takeAwayHeading {
    font-size: 4vh;
    line-height: 5.5vh;
  }

  .takeAwayPara {
    font-size: 2.4vh;
    line-height: 5vh;
  }

  .formContainer {
    margin: 0;
    width: 80%;
  }

  .formInputContainer {
    height: 10vh;
  }

  .formLabel {
    background: #ffffff;
    position: absolute;
    font-size: 12px;
  }

  .formInput {
    font-size: 3vh;
    line-height: 3.5vh;
  }

  .formButton {
    padding: 2vh 3vh;
    font-size: 2.5vh;
  }
}

/* iPads (portrait and landscape) ----------- */
@media (min-width: 1024px) {
  /* Styles */

  .takeAwayTextContainer {
    width: 60%;
  }

  .takeAwayImageContainer {
    width: 40%;
    margin-left: -10%;
  }

  .takeAwayHeading {
    font-size: 4vh;
    line-height: 5.5vh;
  }

  .takeAwayPara {
    font-size: 2.4vh;
    line-height: 5vh;
  }

  .takeAwayButton {
    font-size: 2.2vh;
    padding: 2vh;
  }

  .takeAwayListText {
    font-size: 2vh;
    line-height: 3.5vh;
  }

  .formContainer {
    margin: 0;
    width: 80%;
  }

  .formInputContainer {
    height: 10vh;
  }

  .formLabel {
    background: #ffffff;
    position: absolute;
    font-size: 12px;
  }

  .formInput {
    font-size: 3vh;
    line-height: 3.5vh;
  }

  .formButton {
    padding: 2vh 3vh;
    font-size: 2.5vh;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  .takeAwayTextContainer {
    width: 60%;
  }

  .takeAwayImageContainer {
    width: 40%;
    margin-left: -10%;
  }

  .takeAwayBody {
    width: 80%;
  }

  .takeAwayHeading {
    font-size: 4.5vh;
    line-height: 6vh;
  }

  .takeAwayPara {
    font-size: 2.5vh;
    line-height: 4.5vh;
  }

  .formContainer {
    margin: 0;

    max-width: 400px;
  }

  .formInputContainer {
    height: 8vh;
  }

  .formLabel {
    background: #ffffff;
    position: absolute;
    font-size: 12px;
  }

  .formInput {
    font-size: 2.5vh;
    line-height: 3vh;
  }

  .formButton {
    padding: 2vh 3vh;
    font-size: 2.5vh;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
  .takeAwayTextContainer {
    width: 60%;
  }

  .takeAwayImageContainer {
    width: 40%;
    margin-left: -10%;
  }

  .takeAwayHeading {
    font-size: 4vh;
    line-height: 5.5vh;
  }

  .takeAwayPara {
    font-size: 2.2vh;
    line-height: 4vh;
  }

  .formContainer {
    margin: 0;
    max-width: 400px;
  }

  .formInputContainer {
    height: 50px;
  }

  .formLabel {
    font-size: 13px;
  }

  .formInput {
    font-size: 2vh;
    line-height: 3vh;
  }

  .formButton {
    padding: 1.5vh 2vh;
    font-size: 2vh;
  }
}
