.cardPaymentTitle {
  font-size: 5.4vh;
  font-weight: 400;
}
.cardPaymentSubTitle {
  font-size: 2.6vh;
  font-weight: 400;
}
.cardPayments {
  height: 68vh;
  position: relative;
}

.cardHeading {
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  letter-spacing: -1px;
  color: #181818;
}

.ellipseImage {
  position: absolute;
  top: 0%;
  right: 0ch;
}
.navigationWrapper {
  position: relative;
  border-radius: 10px;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 12px;
  height: 12px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #9c9ffa;
  width: 22px;
  border-radius: 16px;
  transition: 0.2s all ease-in;
  transition-delay: 0.2s;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}
.arrowDiv {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  position: absolute;
}
.navigationWrapper > div:nth-of-type(2) {
  position: absolute;
  left: -8%;
  top: 50%;
  transform: translate(-20%, -50%);
}
.navigationWrapper > div:nth-of-type(3) {
  position: absolute;
  right: -10%;
  top: 50%;
  transform: translate(-20%, -50%);
}

.arrow--left {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}
.arrow--right {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}
.arrow--left {
  fill: #dddddd !important;
}

.arrow--right {
  fill: #dddddd !important;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

/* Slider card */
.cardPaymentsMainCard {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 6px 11px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
  padding: 15px;
  border: none;
}

.cardPaymentBgI {
  background: #fce7e7;
}

.cardPaymentBgII {
  background: #fff9ea;
}

.cardPaymentBgIII {
  background: #f5f3ff;
}
.cardPaymentBgIV {
  background: #f5f3ff;
}
.cardPaymentBgV {
  background: #f5f3ff;
}
.keen-slider {
  height: 90% !important;
}
.cardPaymentsImageContainer {
  border-radius: 10px;
  width: 100%;
}
.cardPaymentsCardTitleI {
  font-size: 2.6vh;
  text-align: left;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: #5b1010;
}

.cardpaymentsCardContentI {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #5b1010;
}

.cardPaymentContentColorI {
  color: #5b1010;
}
.cardpaymentsTextContainer p {
  font-size: 1.8vh;
  font-weight: 400;
  color: #454545;
  letter-spacing: 0.5px;
}
.cardpaymentsTextContainer span {
  font-weight: 400;
  font-size: 2.2vh;
  /* line-height: 40px; */
  letter-spacing: -0.01em;
  color: #931414;
  cursor: pointer;
}
.cardpaymentCardImg {
  height: 100% !important;
  border-radius: 0 0 10px 10px;
}

/* SVGS */
.topLeftSvgContainer img,
.topRightSvgContainer img,
.bottomLeftSvgContainer img {
  height: 15vh !important;
}
.topLeftSvgContainer {
  position: absolute;
  left: 0;
  top: 10%;
  transform: translate(-10%, 0);
}
.topRightSvgContainer {
  position: absolute;
  right: 0;
  top: 10%;
  transform: translate(-10%, 0);
}
.bottomLeftSvgContainer {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0, 0);
}

.avatarName {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #454545;
  flex: none;
  padding-left: 10px;
}

.avatarDesignation {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #858585;
  padding-left: 10px;
}

.cardListTitle {
  display: flex;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  text-align: center;
  line-height: 38px;
  color: #000;
  font-size: 2.6vh !important;
  font-weight: 600 !important;
  letter-spacing: -1px;
  width: 75%;
}

/* Media query responsive design*/
@media (min-width: 1040px) and (max-width: 1399px) {
  .topRightSvgContainer {
    top: 0;
    transform: translate(0%, 0%);
  }
  .keen-slider {
    height: 300 !important;
    /* justify-content: center; */
  }
  .keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
    justify-content: center;
  }

  .cardpaymentsTextContainer span {
    margin-top: 0 !important;
  }
  .navigationWrapper {
    width: 65%;
  }
  .navigationWrapper > div:nth-of-type(2) {
    left: -15%;
  }
  .navigationWrapper > div:nth-of-type(3) {
    right: -15%;
    transform: translate(15%, -50%);
  }
  .cardHeading {
    font-size: 36px;
    line-height: 42px;
  }
}

@media (min-width: 600px) and (max-width: 1039px) {
  .cardPaymentContainer {
    height: 70vh;
  }
  .cardPaymentTitle {
    font-size: 3vh;
  }
  .cardPaymentSubTitle {
    font-size: 1.8vh;
  }
  .cardPaymentsCardTitleI {
    font-size: 1.8vh;
  }
  .cardpaymentsTextContainer p {
    font-size: 1.4vh;
  }
  .keen-slider {
    height: 300px !important;
  }
  .keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
    justify-content: center;
    align-items: center;
  }
  .cardPayments {
    margin-bottom: 100px;
  }
  .dots {
    margin-top: 40px;
  }
  .topRightSvgContainer {
    top: 0;
    right: 0;
    transform: translate(0%, 0);
  }
  .arrowDiv {
    width: 52px;
    height: 52px;
  }
  .navigationWrapper > div:nth-of-type(2) {
    left: -8%;
  }
  .navigationWrapper > div:nth-of-type(3) {
    right: -12%;
  }
  .keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
    min-height: 95% !important;
  }
  .cardpaymentsTextContainer span {
    color: #000;
    font-size: 1.6vh;
    padding: 4px 32px;
    background: #f0f0f0;
    border-radius: 5px;
  }
  .CardListTitle {
    font-size: 20px !important;
    top: 10px;
  }
}
@media (min-width: 1400px) {
  .navigationWrapper {
    width: 80%;
  }
}

@media (max-width: 599px) {
  .keen-slider {
    height: 95% !important;
  }
  .cardPaymentContainer {
    height: auto;
  }

  .cardpaymentsTextContainer {
    height: 80%;
    justify-content: space-between !important;
  }
  .cardPaymentsCardTitleI {
    font-size: 16px;
  }
  .cardpaymentsTextContainer p {
    font-size: 12px;
  }
  .arrowDiv {
    display: none;
  }

  .keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .cardpaymentsTextContainer span {
    background: #f0f0f0;
    border-radius: 5px;
    padding: 5px 20px;
    color: #000;
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
  }
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 3px;
    padding: 0;
  }
  .cardPayments {
    height: 60vh;
  }
  .navigationWrapper {
    height: 40vh;
    width: 90%;
  }

  .cardHeading {
    font-size: 24px;
    line-height: 42px;
    width: 90%;
  }

  .keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  /* custom added */
  .cardpaymentsTextContainer {
    background: #ffffff;
    width: 100%;
    height: 100%;
    box-shadow: 4px 6px 11px rgb(0 0 0 / 11%);
    border-radius: 10px;
    display: flex;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center !important;
  }

  .cardContainerSlider {
    box-shadow: 4px 6px 11px rgb(0 0 0 / 3%);
    border-radius: 10px;
  }

  .cardListTitle {
    font-size: 16px !important;
    top: 6px;
    margin: 20px 0 !important;
  }

  .avatarDesignation {
    width: 90%;
  }

  .ellipseImage {
    display: none;
  }
}

@media (max-width: 599px) and (max-height: 700px) {
  .cardListTitle {
    font-size: 16px !important;
    margin-bottom: 10px !important;
  }
}

@media (max-width: 550px) and (min-height: 500px) and (max-height: 600px) {
  .cardpaymentsTextContainer {
    padding: 10px;
  }
  .cardPaymentsCardTitleI {
    margin-top: 0;
  }
  .dot {
    margin-bottom: 20px;
  }
}

@media (max-width: 550px) and (min-height: 800px) {
  .cardPaymentsCardTitleI {
    font-size: 18px;
  }
  .cardpaymentsTextContainer p {
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: 300px) {
  .cardPayments {
    height: 50vh;
  }
  .navigationWrapper {
    height: 50vh;
  }
}
